$screen-width: 800px;
$screen-height: 400px;
$end-pos-top: 17%;
$end-pos-left: $screen-width/2;

.wrapper {
  background: url("http://i61.tinypic.com/2hhht84.png");
  position:relative;
  width: $screen-width;
  height: $screen-height;
}

img.guy {
  height:auto;
  width:15%;
  margin-top:22%;
  margin-left: 9%;
  transform:rotate(-14deg);
}
  
/*********
***********     BULLET   ********************
*********************************************/
 .beam {
   position:absolute;
   left:-100px;
   height:20px;
   width:4px;
   background:red;
   transform:rotate(75deg);
   animation:bullet 1s 3.3s linear;
 }

@keyframes bullet {
    0% {  
       top:178px;
       left:160px;
     }
    
    80% {
      top: $end-pos-top;
      left: $end-pos-left;
      opacity: 1;
    }

    100% {
       top: $end-pos-top;
      left: $end-pos-left;
      opacity: 0;
    }
  }

// *********DUCK ******************************


img.duck {
  width:15%;
  height:auto;
  left:-200px;
  position:absolute;
  animation: duck 4s 1.5s linear;
  
}

@keyframes duck {
    0% {      
        top: 40%;
        left: 100%;
     }
     
     65% {
        top: $end-pos-top - 7%;
        left:$end-pos-left - 40px;
       
     }

     100% {
        top:95%;
        left:$end-pos-left - 40px;
        
        
     }
  }
 
// *************FEATHERS**********************


img.feathers-left {
  width:10%;
  height:auto;
  position: absolute;
  left: -200px;
  animation: feather-left 1s 4s ease-out;
  
}

@keyframes feather-left {
    
     0% {
        top: 12%;
        left:$end-pos-left;
        width: 11%
     }
      
      // 50% {
      //   top:30%;
      //   left:$end-pos-left - 40px;
      //    width: 21%
      //  }
        
     100% {
        top:35%;
        left:35%;
         width: 12%
     }
  }

  img.feathers-right {
  width:4%;
  height:auto;
  position: absolute;
  left: -200px;
  animation: feather 1s 4s ease-out;
  
}

@keyframes feather {
    
     0% {
        top: 12%;
        left:$end-pos-left;
        width: 5%
     }
      
      // 50% {
      //   top:30%;
      //   left:$end-pos-left - 40px;
      //    width: 21%
      //  }
        
     100% {
        top:30%;
        left:55%;
         width: 6%
     }
  }

/*********
***********     DOG   ********************
*********************************************/

img.dog {
  width:20%;
  height:auto;
  position: absolute;
  left: -200px;
  animation: dog 4s 6s linear forwards;
  
}

@keyframes dog {
    
     0% {
        top: 100%;
        left:$end-pos-left - 40px;
        
     }
      
      50% {
        top: 80%;
        left:$end-pos-left - 40px;
        
     }
     100% {
        top:60%;
        left:$end-pos-left - 40px;
        
     }
  }




.fireworks {
  height:2px;
  width:2px;
  position:absolute;
  left:-100px;
  filter: blur(1px);
  animation: fireworks 5s 4s ease-out; 

    .fireworks1 {
      background:red;
       transform:rotate(30deg);
       

    }
    .fireworks2 {
      background:blue;
      transform:rotate(73deg);
    }
     .fireworks3 {
      background:green;
      transform:rotate(108deg);
    }                  
    .fireworks4 {
      background:orange;
       transform:rotate(150deg);
    }    
}

@keyframes fireworks {

    0% {  
      top: 16%;
      left: 50%;
      opacity: 1;
     }
    
     //  25% {
     //  opacity:0
     // }

     50% {
      opacity:0
     }

     // 75% {
     //  opacity:0
     // }


    100% {
      top: 7%;
      left: 40%;
      opacity: 1;
      height:180px;

    }
  }

  
// .fireworks-2 {
//   height:2px;
//   width:2px;
//   position:absolute;
//   left:-200px;
//   filter: blur(1px);
//   animation: fireworkss 4s 4s ease-out; 

//   .fireworks1 {
//       background:red;
//        transform:rotate(30deg);
//     }

//     .fireworks2 {
//       background:blue;
//       transform:rotate(73deg);
//     }
//      .fireworks3 {
//       background:green;
//       transform:rotate(108deg);
//     }                  
//     .fireworks4 {
//       background:orange;
//        transform:rotate(150deg);
//     }    
//   }



  // @keyframes fireworkss {

  //   0% {  
  //     top: 15%;
  //     left: 75%;
  //     opacity: 1;
  //    }

    25% {
      opacity:0
     }

     50% {
      opacity:1
     }

     75% {
      opacity:0
     }

  //   100% {
  //     top: 10%;
  //     left: 75%;
  //     opacity: 1;
  //     height:180px;
  //   }
  // }