.wrapper {
  background: url("http://i61.tinypic.com/2hhht84.png");
  -webkit-animation: flash 2s 8.5s ease-in-out;
  animation: flash 2s 8.5s ease-in-out;
  position: relative;
  width: 800px;
  height: 400px;
}

@-webkit-keyframes flash {
  0%, 50%, 100% {
    background: #67a6ff;
  }

  25%, 75% {
    background: #b51f1d;
  }
}

@keyframes flash {
  0%, 50%, 100% {
    background: #67a6ff;
  }

  25%, 75% {
    background: #b51f1d;
  }
}

img.guy {
  height: auto;
  width: 15%;
  margin-top: 20%;
  margin-left: 9%;
  -webkit-transform: rotate(-14deg);
  -ms-transform: rotate(-14deg);
  transform: rotate(-14deg);
}

/*********
***********     BULLET   ********************
*********************************************/

.beam {
  position: absolute;
  left: -100px;
  height: 20px;
  width: 4px;
  background: red;
  -webkit-transform: rotate(75deg);
  -ms-transform: rotate(75deg);
  transform: rotate(75deg);
  -webkit-animation: bullet 1s 3.3s linear;
  animation: bullet 1s 3.3s linear;
}

@-webkit-keyframes bullet {
  0% {
    top: 168px;
    left: 160px;
  }

  80% {
    top: 17%;
    left: 400px;
    opacity: 1;
  }

  100% {
    top: 17%;
    left: 400px;
    opacity: 0;
  }
}

@keyframes bullet {
  0% {
    top: 168px;
    left: 160px;
  }

  80% {
    top: 17%;
    left: 400px;
    opacity: 1;
  }

  100% {
    top: 17%;
    left: 400px;
    opacity: 0;
  }
}

img.duck {
  width: 15%;
  height: auto;
  left: -200px;
  position: absolute;
  -webkit-animation: duck 4s 1.5s linear;
  animation: duck 4s 1.5s linear;
}

@-webkit-keyframes duck {
  0% {
    top: 40%;
    left: 100%;
  }

  65% {
    top: 10%;
    left: 360px;
  }

  100% {
    top: 95%;
    left: 360px;
  }
}

@keyframes duck {
  0% {
    top: 40%;
    left: 100%;
  }

  65% {
    top: 10%;
    left: 360px;
  }

  100% {
    top: 95%;
    left: 360px;
  }
}

img.feathers-left {
  width: 10%;
  height: auto;
  position: absolute;
  left: -200px;
  -webkit-animation: feather-left 1s 4s ease-out;
  animation: feather-left 1s 4s ease-out;
}

@-webkit-keyframes feather-left {
  0% {
    top: 12%;
    left: 400px;
    width: 11%;
  }

  100% {
    top: 35%;
    left: 35%;
    width: 12%;
  }
}

@keyframes feather-left {
  0% {
    top: 12%;
    left: 400px;
    width: 11%;
  }

  100% {
    top: 35%;
    left: 35%;
    width: 12%;
  }
}

img.feathers-right {
  width: 4%;
  height: auto;
  position: absolute;
  left: -200px;
  -webkit-animation: feather 1s 4s ease-out;
  animation: feather 1s 4s ease-out;
}

@-webkit-keyframes feather {
  0% {
    top: 12%;
    left: 400px;
    width: 5%;
  }

  100% {
    top: 30%;
    left: 55%;
    width: 6%;
  }
}

@keyframes feather {
  0% {
    top: 12%;
    left: 400px;
    width: 5%;
  }

  100% {
    top: 30%;
    left: 55%;
    width: 6%;
  }
}

/*********
***********     DOG   ********************
*********************************************/

img.dog {
  width: 20%;
  height: auto;
  position: absolute;
  left: -200px;
  -webkit-animation: dog 3s 6s linear forwards;
  animation: dog 3s 6s linear forwards;
}

@-webkit-keyframes dog {
  0% {
    top: 90%;
    left: 360px;
    opacity: 0;
  }

  50% {
    top: 70%;
    left: 360px;
    opacity: 1;
  }

  100% {
    top: 60%;
    left: 360px;
    opacity: 1;
  }
}

@keyframes dog {
  0% {
    top: 90%;
    left: 360px;
    opacity: 0;
  }

  50% {
    top: 70%;
    left: 360px;
    opacity: 1;
  }

  100% {
    top: 60%;
    left: 360px;
    opacity: 1;
  }
}